<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do not rewrite existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Load HTML files without .html extension
  RewriteRule ^([^.]+)$ $1.html [L]
</IfModule>

